<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="Собираете ли вы подарочные боксы?">
    <ng-template ngbPanelContent>
      <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Сколько у вас разновидностей чая?">
    <ng-template ngbPanelContent>
      <p>В нашем ассортименте 6 видов чая, мы выбрали самые лучшие для Вас. С этими видами вы можете
        подробнее ознакомиться в разделе "Наши чайные коллекции"</p>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="В какой срок осуществляется доставка?">
    <ng-template ngbPanelContent>
      <p>Мы осуществим доставку чая в течение дня, даже в праздники и выходные</p>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="У вас обновляется ассортимент?">
    <ng-template ngbPanelContent>
      <p> Конечно! Мы постоянно следим за мировыми тенденциями, находимся в поиске лучших видов чая и
        импортируем
        их для вас</p>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Какого объема у вас пачки чая?">
    <ng-template ngbPanelContent>
      <p>Это зависит от вида чая, однако в большинстве случаев объем вы можете выбрать сами</p>
    </ng-template>
  </ngb-panel>

</ngb-accordion>

